/* Общее */

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans"),
        url("../fonts/OpenSans.ttf") format("ttf");
}

body {
    font-family: "OpenSans", sans-serif;
    background-color: #FFFFFF;
    color: #8E8E9C;
    font-size: 14px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(102, 140, 173);
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

p+p {
    margin-top: 15px;
}


.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.btn {
    padding: 12px 30px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, 0);
    cursor: pointer;
}

.btn--blue {
    background-color: rgb(105, 185, 255);
    border: unset;
}


/* HEADER */

.header {}

.header__container {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 18px;
}

.header__logo {
    color: rgb(105, 185, 255);
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.header__list {
    display: flex;
}

.header__item {}

.header__item:not(:last-child) {
    margin-right: 40px;
}

.header__item__link {
    color: rgb(103, 103, 112);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
}

.header__item__link:hover {
    color: rgb(0, 130, 243);
}

/* MAIN */

.main {
    background-image: url("../img/welcome-bg.jpg");
    padding: 190px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__header {
    font-size: 59px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 100px;
    text-align: center;
}

.main__buttons {
    display: flex;
    gap: 20px;
}

/* DO */

.do {
    text-align: center;
}


.container__do {
    margin-top: 80px;
    margin-bottom: 80px;
}

.do__header {
    color: rgb(103, 103, 112);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.do__text {
    color: rgb(142, 142, 156);
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 62px;
}

.do__cards {
    display: flex;
    gap: 20px;
}

.do__card {
    width: 33%;

    box-sizing: border-box;
    border: 1px solid rgb(220, 235, 247);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 35px 16px 23px;
}


.do__img {
    box-sizing: border-box;

    border: 1px dashed rgb(46, 157, 255);
    padding: 5px;
    margin-bottom: 10px;
}

.card__header {
    color: rgb(103, 103, 112);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.card__text {
    color: rgb(106, 133, 156);
    font-size: 14px;
    line-height: 25px;
}

/* SERVICES */
.services {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #192024;

}

.container__services {
    padding-top: 80px;
    padding-bottom: 80px;
}

.services__header {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.services__text {
    color: rgb(232, 232, 232);
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;

    margin-bottom: 77px;
}

.services__cards {
    display: flex;
    gap: 50px;
}

.services__card {
    width: 49%;
}

.services__img {
    margin-bottom: 20px;
    width: 100%;
}

.services__card__header {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.services__card__text {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0%;
    margin-bottom: 17px;
}

/* TAB */

.tab {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 80px;
}

.tab__header {
    color: rgb(103, 103, 112);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.tab__text {
    color: rgb(142, 142, 156);
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 74px;
}

.tab__btn {
    border-radius: 4px;
    background: #92A0AD;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 1px 30px;
    border: unset;
}

.tab__btn:not(:last-child) {
    margin-right: 16px;
}

.tab__btn:hover {
    background: #2E80B6;
}

.tab__cards {}

.tab__card {}

.tab__card__img {
    margin-bottom: 16px;
}

.tab__card__header {
    color: rgb(103, 103, 112);
    font-size: 31px;
    line-height: 36px;
    letter-spacing: 0%;
    margin-bottom: 14px;
}

.tab__card__text {
    color: rgb(106, 133, 156);
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0%;
}

/* tab - css tabs */
.tab__cards>input[type="radio"] {
    display: none;
}

.tab-content {
    display: none;
    margin-top: 52px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: block;
}

/* //// */

/* ABOUT */

.about {
    margin-bottom: 40px;
}

.container__about {
    display: flex;
    justify-content: space-between;
}

.about__column {
    width: 30%;
}

.about__header {
    color: rgb(103, 103, 112);
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}

.about__text {
    color: rgb(106, 133, 156);
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0%;
}

.about__list {}

.about__item {
    border-bottom: 1px solid #D5D5E0;
    padding-bottom: 12px;
}

.about__item:not(:last-child) {
    margin-bottom: 12px;
}

.about__item__social {
    padding-bottom: 7px;
}

.about__item__social::before {
    margin-right: 10px;
    height: 8px;
    max-width: 100%;
}

.social__icon--1::before {
    content: url("../img/icon/icon-tw.svg");
}

.social__icon--2::before {
    content: url("../img/icon/icon-fb.svg");
}

.social__icon--3::before {
    content: url("../img/icon/icon-pt.svg");
}

.social__icon--4::before {
    content: url("../img/icon/icon-google.svg");
}

.social__icon--5::before {
    content: url("../img/icon/icon-wb.svg");
}

.about__item__link {}

/* FOOTER */

.footer {
    text-align: center;
    background-color: #383838;
}

.footer__text {
    color: rgb(158, 158, 158);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    padding: 40px 0;
}